@use "variables" as *;

// Base font mixin:
// -----------------------------
// $size - font-size (px/rem)
// $line-height - line-height (px/rem)
// $weight - font-weight (default: 400)
// $family - font-family (default: $font-main)
@mixin font($size, $line-height, $weight: 400, $family: $font-main) {
  font-family: $family;
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
}

// H1 titles
@mixin heading-h1-normal {
  @include font($font-size-h1, 40px);
}

// Base paragraph
@mixin text-p1 {
  @include font($font-size-p1, 26px);
}

// Universal flexbox
// ------------------------------------------------------------
// $direction - flex-direction (default: row)
// $justify - justify-content (default: flex-start)
// $align - align-items (default: stretch)
// $wrap - flex-wrap (default: nowrap)
@mixin flex(
  $direction: row,
  $justify: flex-start,
  $align: stretch,
  $wrap: nowrap
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

// Flexbox center-center
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Universal grid
// ------------------------------------------------------------
// $columns - grid-template-columns (default: none)
// $rows - grid-template-rows (default: none)
// $gap - gap between rows and columns (default: 0)
// $justify - justify-items (default: stretch)
// $align - align-items (default: stretch)
@mixin grid(
  $gap: 0,
  $columns: none,
  $rows: none,
  $justify: stretch,
  $align: stretch
) {
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
  gap: $gap;
  justify-items: $justify;
  align-items: $align;
}
