// Colors
$primary-color: #F4E041;
$secondary-color: #00BDD3;
$background-color: #F8F8F8;

// Typography
$font-main: 'Nunito', sans-serif;
$font-size-h1: 40px;
$font-size-p1: 16px;

// Blocks
$radius: 4px;