@use "../../abstracts/variables.scss" as *;

// Basic spinning loader (SVG or circular div)
.spinner {
  width: 48px;
  height: 48px;
  animation: spin 1s linear infinite;
}

// Defines the spinning animation
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

// Spinner stroke styling (for SVG use)
.path {
  stroke: $secondary-color;
  stroke-dasharray: 90, 150;
  stroke-dashoffset: 0;
  transform-origin: center;
}
