@use "../../abstracts/mixins.scss" as *;
@use "../../abstracts/variables.scss" as *;

// Base card container
.user-card {
  @include flex(column, flex-start, center);
  max-width: 370px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 16px;

  // Avatar image
  &__img {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    margin-bottom: 20px;
  }

  // Name spacing
  &__name {
    margin-bottom: 20px;
  }

  // Generic field wrapper (name, email, phone etc.)
  &__field {
    width: 100%;
    height: 26px;
    text-align: center;
    position: relative;
    cursor: default;

    // Field text (with overflow detection)
    &__content {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: default;
      display: inline-block;
      max-width: 100%;

      .has-tooltip:hover & {
        cursor: pointer;
      }
    }

    // Tooltip trigger on overflow + hover
    &.has-tooltip:hover .user-card__field__tooltip {
      opacity: 1;
      pointer-events: auto;
    }

    // Tooltip content (for overflowing text)
    &__tooltip {
      display: inline-block;
      position: absolute;
      top: 21px;
      left: 77px;
      transform: translateY(50%);
      padding: 3px 16px;
      background-color: $text-black;
      color: #ffffff;
      border-radius: 4px;
      z-index: 10;

      opacity: 0;
      pointer-events: none;
      transition: opacity 0.2s ease;

      max-width: 250px;
      white-space: normal;
      word-break: break-word;
    }
  }
}
